body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d0e0d;
}

.name-navbar{
  color: hsl(180, 10%, 94%);
  font-weight: 900;
  margin: 0;
  padding: 0;
}
/* Estilos generales del Navbar */
.navbar {
  background-color: #080808;
  padding: 5px;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: rgb(24, 18, 18);
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #575757;
  padding: 5px;
  border-radius: 4px;
}

/* Estilos del menú hamburguesa */
.menu-toggle {
  display: none; /* Ocultamos el ícono en pantallas grandes */
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar {
  background-color: white;
  height: 3px;
  width: 100%;
}

/* En pantallas pequeñas */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px; /* Alineamos el menú debajo del navbar */
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #333;
    transition: height 0.3s ease; /* Transición para mostrar/ocultar el menú */
  }

  .nav-links.active {
    height: 200px; /* Altura del menú cuando está abierto */
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex; /* Mostramos el ícono en pantallas pequeñas */
  }
}

section {
  padding: 20px;
  margin: 20px;
}

.home-page {
  background-color: #011105;
  text-align: center;
}
.about-page {
  padding: 20px;
}

.about-content {
  display: flex; /* Usamos flexbox para alinear los elementos */
  align-items: center; /* Centra verticalmente la imagen y el texto */
  gap: 20px; /* Espacio entre la foto y el texto */
}

.fotoperfil {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  object-fit: cover; 
}

.about-text h2 {
  margin: 0;
  font-size: 24px;
}

.about-text p {
  font-size: 16px;
  color: #555;
}


.projects-page, .contact-page {
  background-color: #d2e7d2;
}

h1, h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.fotoperfil{
  width: 40%;
  height: 40%;
}

p{
  color: #d2e7d2;
}
