body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/fondo-portafolio-paisaje.webp');
}

a{
  text-decoration: none;
}

.name-navbar{
  color: hsl(290, 5%, 55%);
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* Estilos generales del Navbar */
.navbar {
  margin: 5px;
  background-color: #c9c2c2;
  padding: 2px;
  position: relative;
  border-radius: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  background: linear-gradient(to right, #060216, #464d48);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 5px;
  margin: 5px;
  background-color: rgb(97, 83, 96);
  border: 1px solid white;
}

.nav-links a {
  color: rgb(199, 190, 190);
  text-decoration: none;
  margin: 10px;
}

.nav-links a:hover {
  background: linear-gradient(to right, #5a2b58, #b3b7bd);
  color: aliceblue;
  border-radius: 4px;

}

section {
  padding: 20px;
  margin: 20px;
  
}

.home-page {
  text-align: center;
}
.title-home{
  color: #0d0a1a;
  font-size: 25px;
  font-weight: 600;
}
.about-page {
  padding: 10px;
}

.about-content {
  display: flex; 
  align-items: center;
  gap: 20px; 
}

.fotoperfil {
  width: 30%;
  height: 30%;
  border-radius: 50%; 
  object-fit: cover; 
}

.about-text h2 {
  margin: 0;
  font-size: 25px;
  color: #7b74a0;
}

.about-text p {
  font-size: 16px;
  color: #f7f1f1;
}

.welcome-text{
  font-size: 50px;
  color: rgb(235, 235, 245);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

p{
  color: #d2e7d2;
  font-size: 20px;
}
h2 {
  font-size: 30px;
  color: #c9c2c2;
}
.projects-page{
  background: linear-gradient(to right, #060216, #464d48);
  border: 2px solid rgb(185, 180, 185);
  border-radius: 15px;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
  justify-content: center;
  padding: 20px;
  
}

.project-image {
  width: 100%; 
  max-width: 500px; 
  height: auto; 
  border-radius: 10px; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-image:hover {
  transform: scale(1.20); /* Efecto de zoom */
  box-shadow: 0 10px 15px rgba(226, 222, 222, 0.2);
}
.contact-page{
  background: linear-gradient(to right, #060216, #464d48);
  border: 2px solid rgb(185, 180, 185);
  border-radius: 15px;
}
.tech-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tech-icons .icon {
  font-size: 2rem; /* Tamaño de los íconos */
  transition: transform 0.3s ease-in-out;
}

.tech-icons .icon:hover {
  transform: scale(1.8); /* Efecto de agrandado al pasar el mouse */
}

.icon.html {
  color: #e44d26;
}

.icon.css {
  color: #1572b6;
}

.icon.js {
  color: #f7df1e;
}

.icon.react {
  color: #61dafb;
}

.icon.node {
  color: #68a063;
}

.icon.mongo {
  color: #4db33d;
}

.contact-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.icon {
  font-size: 30px;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.whatsapp { color: #25d366; }
.email { color: #c71610; }
.github { color: #000; }
.linkedin { color: #0077b5; }

.btn-download {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background: linear-gradient(90deg, #053261, #0056b3);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.btn-download:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


/* En pantallas pequeñas */

@media screen and (max-width: 768px) {

.menu-toggle {
  display: none; 
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar {
  background-color: rgb(199, 206, 201);
  height: 3px;
  width: 100%;
}
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #e4dede;
    transition: height 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos */
  }
  
  .nav-links.active {
    height: auto; /* Ajuste dinámico según el contenido */
    padding: 10px 0;
    background-color: rgb(10, 14, 10);
  }

  .nav-links li {
    display: block; 
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #0d130b;
  }

  .menu-toggle {
    display: flex;
  }

  .welcome-text{
    font-size: 30px;
    color: rgb(226, 218, 218);
  }

  .about-content {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .fotoperfil{
    width: 100%;
    height: 100%;
  }

  .title-home{
    color: #645f77;
    font-size: 20px;
    font-weight: 300;
  }
}