body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d0e0d;
}

.name-navbar{
  color: hsl(120, 6%, 94%);
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* Estilos generales del Navbar */
.navbar {
  margin: 5px;
  background-color: #c9c2c2;
  padding: 2px;
  position: relative;
  border-radius: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  background: linear-gradient(to right, #262b27, #869b85);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 5px;
  margin: 5px;
  background-color: rgb(55, 61, 61);
  border: 1px solid white;
}

.nav-links a {
  color: rgb(199, 190, 190);
  text-decoration: none;
  margin: 10px;
}

.nav-links a:hover {
  background: linear-gradient(to right, #5a2b58, #b3b7bd);
  color: aliceblue;
  border-radius: 4px;
}

section {
  padding: 20px;
  margin: 20px;
}

.home-page {
  background-color: #191d1a;
  text-align: center;
}
.about-page {
  background-color: #191d1a;
  padding: 20px;
}

.about-content {
  display: flex; 
  align-items: center;
  gap: 20px; 
}

.fotoperfil {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  object-fit: cover; 
}

.about-text h2 {
  margin: 0;
  font-size: 24px;
}

.about-text p {
  font-size: 16px;
  color: #555;
}


.projects-page, .contact-page {
  background-color: #191d1a;
}

.welcome-text{
  font-size: 60px;
  color: rgb(235, 235, 245);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.fotoperfil{
  width: 40%;
  height: 40%;
}

p{
  color: #d2e7d2;
  font-size: 20px;
}
h2 {
  font-size: 30px;
}




/* En pantallas pequeñas */

@media screen and (max-width: 768px) {

.menu-toggle {
  display: none; 
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar {
  background-color: rgb(199, 206, 201);
  height: 3px;
  width: 100%;
}
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #e4dede;
    transition: height 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos */
  }
  
  .nav-links.active {
    height: auto; /* Ajuste dinámico según el contenido */
    padding: 10px 0;
    background-color: rgb(10, 14, 10);
  }

  .nav-links li {
    display: block; 
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #0d130b;
  }

  .menu-toggle {
    display: flex;
  }

  .welcome-text{
    font-size: 30px;
    color: rgb(226, 218, 218);
  }
}